:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.bg-img{
  background-image: url("../images/shop_night.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.dropdown-item :hover{
  background-color: rgba(255, 255, 255, .3);
}

.btn-secondary{
  width: 175px;
  float: right;
  margin-top: 5px;
  padding-top: 0%;
  padding-bottom: 0%;
  padding-left: 10px;
  padding-right: 10px;
}

.btn-secondary,
.btn-secondary:focus {
  color: #fff;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: transparent;
  border: .05rem solid #fff;
}

.btn-secondary:hover {
  background-color: rgba(255, 255, 255, .5);
  color: rgba(0, 0, 0, .5);
}

footer{
  background-color: transparent;
}

.btn-basic{
  color: #fff;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: transparent;
  border: .05rem solid #fff;
}

.cover-container {
  max-width: 36em;
}
